[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=Agnes Editor
Exec=/home/antoine/Desktop/ProjetAgnes/GUI/editor
Name=Agnes Editor
Icon=gnome-panel-launcher
